.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center-all {
  align-items: center;
  justify-content: center;
}


.spinner {
  animation: spin 1.8s ease infinite;
  border: 5px solid;
  border-color: black transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
